a {
    color: white;
    line-height: 2;
}
.footer {
    h2, p, a {
        max-width: fit-content;
    }
    div.textwidget {
        max-width: 265px;
    }
}

.footer {
    display: block !important;
    padding: 1.3em 1em;
    margin-bottom: 0;
    background-color: #3d3d3d;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.footer-widgets {
    border-bottom: 1px solid #6c7373;
    clear: both;
    margin-bottom: 1em;
    text-align: left;
    display: flex;
    column-gap: 45px;
    row-gap: 30px;
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
    /* justify-content: space-between; */
    flex-wrap: wrap;
    /* max-width: 899px; */
    padding-bottom: 15px;
    > aside.widget {
        max-width: 100%;
        width: fit-content;
        > h2.footer-widget-title {
            margin-bottom: 10px;
            font-size: 1.2em;
        }
        p:last-of-type {
            padding-bottom: 10px;
        }
    }
    /* & aside:last-child {
        margin-bottom: 25px;
    } */
    /* > .site-contact{} */

}

/* .footer-widgets .site-contact {
    margin-right: 0;
    text-align: center;
    border-top: none;
    margin-bottom: 1.8em;
} */

/* .widget-wrapper {
    width: 90%;
    margin: 0 auto;
    text-align: left;
} */

/* .footer-widgets .widget-count-2 {
    float: left;
    width: 48.5%;
} */

footer .site-info {
    clear: both;
}
